{
    "openapi": "3.0.0",
    "info": {
        "title": "API documentation for 52811_kakeibo",
        "version": "1.0.0",
        "description": "API documentation for 52811_kakeibo"
    },
    "servers": [
        {
            "url": "https://openapi.nocodebackend.com"
        }
    ],
    "paths": {
        "/create/burden_ratio_details?Instance=52811_kakeibo": {
            "post": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Create a new record in burden_ratio_details",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Instance"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "burden_ratio_id": {
                                        "type": "integer"
                                    },
                                    "user_id": {
                                        "type": "integer"
                                    },
                                    "ratio_percent": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Successfully created the record",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Record created successfully"
                                        },
                                        "id": {
                                            "type": "integer",
                                            "description": "ID of the newly created record"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/read/burden_ratio_details?Instance=52811_kakeibo": {
            "get": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Retrieve all records from burden_ratio_details",
                "description": "### Filtering and query options\n\nUse query parameters to filter results. Operators use bracket notation:\n\n| Operator | Example | Meaning |\n|---|---|---|\n| `field` | `?status=active` | Equal (default) |\n| `field[ne]` | `?status[ne]=inactive` | Not equal |\n| `field[gt]` | `?price[gt]=100` | Greater than |\n| `field[gte]` | `?date[gte]=2024-05-01` | Greater than or equal |\n| `field[lt]` | `?score[lt]=500` | Less than |\n| `field[lte]` | `?score[lte]=800` | Less than or equal |\n| `field[in]` | `?type[in]=a,b,c` | In list (comma-separated) |\n| `field[like]` | `?name[like]=john` | Partial match |\n\n**Examples**\n- `?price[gte]=100&price[lte]=200`\n- `?name[like]=john`\n- `?status=active`\n\n**Additional helpers**\n- **Pagination**: `page`, `limit` (defaults 1, 10)\n- **Totals**: `includeTotal=true` adds `total` and `totalPages`\n- **Sorting**: `sort=colA,colB`, `order=asc,desc`\n- **Single record**: `only=latest` or `only=oldest` (optional `by=column`, defaults `id`)",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Instance"
                    }
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved records",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "burden_ratio_id": {
                                                        "type": "integer"
                                                    },
                                                    "user_id": {
                                                        "type": "integer"
                                                    },
                                                    "ratio_percent": {
                                                        "type": "integer"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/read/burden_ratio_details/{id}?Instance=52811_kakeibo": {
            "get": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Retrieve a record by ID from burden_ratio_details",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Instance"
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The ID of the record to retrieve"
                    }
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the record",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "burden_ratio_id": {
                                                    "type": "integer"
                                                },
                                                "user_id": {
                                                    "type": "integer"
                                                },
                                                "ratio_percent": {
                                                    "type": "integer"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "Record Not Found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/search/burden_ratio_details?Instance=52811_kakeibo": {
            "post": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Search for records in burden_ratio_details",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Instance"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "burden_ratio_id": {
                                        "type": "integer"
                                    },
                                    "user_id": {
                                        "type": "integer"
                                    },
                                    "ratio_percent": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved matching records",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "burden_ratio_id": {
                                                        "type": "integer"
                                                    },
                                                    "user_id": {
                                                        "type": "integer"
                                                    },
                                                    "ratio_percent": {
                                                        "type": "integer"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/update/burden_ratio_details/{id}?Instance=52811_kakeibo": {
            "put": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Update a record in burden_ratio_details",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Instance"
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The ID of the record to update"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "burden_ratio_id": {
                                        "type": "integer"
                                    },
                                    "user_id": {
                                        "type": "integer"
                                    },
                                    "ratio_percent": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully updated the record"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/delete/burden_ratio_details/{id}?Instance=52811_kakeibo": {
            "delete": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Delete a record from burden_ratio_details",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Instance"
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The ID of the record to delete"
                    }
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully deleted the record"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "Record Not Found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/create/burden_ratios?Instance=52811_kakeibo": {
            "post": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Create a new record in burden_ratios",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Instance"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "household_id": {
                                        "type": "integer"
                                    },
                                    "effective_month": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Successfully created the record",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Record created successfully"
                                        },
                                        "id": {
                                            "type": "integer",
                                            "description": "ID of the newly created record"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/read/burden_ratios?Instance=52811_kakeibo": {
            "get": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Retrieve all records from burden_ratios",
                "description": "### Filtering and query options\n\nUse query parameters to filter results. Operators use bracket notation:\n\n| Operator | Example | Meaning |\n|---|---|---|\n| `field` | `?status=active` | Equal (default) |\n| `field[ne]` | `?status[ne]=inactive` | Not equal |\n| `field[gt]` | `?price[gt]=100` | Greater than |\n| `field[gte]` | `?date[gte]=2024-05-01` | Greater than or equal |\n| `field[lt]` | `?score[lt]=500` | Less than |\n| `field[lte]` | `?score[lte]=800` | Less than or equal |\n| `field[in]` | `?type[in]=a,b,c` | In list (comma-separated) |\n| `field[like]` | `?name[like]=john` | Partial match |\n\n**Examples**\n- `?price[gte]=100&price[lte]=200`\n- `?name[like]=john`\n- `?status=active`\n\n**Additional helpers**\n- **Pagination**: `page`, `limit` (defaults 1, 10)\n- **Totals**: `includeTotal=true` adds `total` and `totalPages`\n- **Sorting**: `sort=colA,colB`, `order=asc,desc`\n- **Single record**: `only=latest` or `only=oldest` (optional `by=column`, defaults `id`)",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Instance"
                    }
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved records",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "household_id": {
                                                        "type": "integer"
                                                    },
                                                    "effective_month": {
                                                        "type": "string"
                                                    },
                                                    "description": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/read/burden_ratios/{id}?Instance=52811_kakeibo": {
            "get": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Retrieve a record by ID from burden_ratios",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Instance"
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The ID of the record to retrieve"
                    }
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the record",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "household_id": {
                                                    "type": "integer"
                                                },
                                                "effective_month": {
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "Record Not Found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/search/burden_ratios?Instance=52811_kakeibo": {
            "post": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Search for records in burden_ratios",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Instance"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "household_id": {
                                        "type": "integer"
                                    },
                                    "effective_month": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved matching records",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "household_id": {
                                                        "type": "integer"
                                                    },
                                                    "effective_month": {
                                                        "type": "string"
                                                    },
                                                    "description": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/update/burden_ratios/{id}?Instance=52811_kakeibo": {
            "put": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Update a record in burden_ratios",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Instance"
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The ID of the record to update"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "household_id": {
                                        "type": "integer"
                                    },
                                    "effective_month": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully updated the record"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/delete/burden_ratios/{id}?Instance=52811_kakeibo": {
            "delete": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Delete a record from burden_ratios",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Instance"
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The ID of the record to delete"
                    }
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully deleted the record"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "Record Not Found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/create/categories?Instance=52811_kakeibo": {
            "post": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Create a new record in categories",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Instance"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "household_id": {
                                        "type": "integer"
                                    },
                                    "major_name": {
                                        "type": "string"
                                    },
                                    "minor_name": {
                                        "type": "string"
                                    },
                                    "cost_type": {
                                        "type": "string",
                                        "enum": [
                                            "固定",
                                            "変動",
                                            "特別",
                                            "立替",
                                            "振替"
                                        ],
                                        "description": "dropdown: choose one of [固定, 変動, 特別, 立替, 振替]"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Successfully created the record",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Record created successfully"
                                        },
                                        "id": {
                                            "type": "integer",
                                            "description": "ID of the newly created record"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/read/categories?Instance=52811_kakeibo": {
            "get": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Retrieve all records from categories",
                "description": "### Filtering and query options\n\nUse query parameters to filter results. Operators use bracket notation:\n\n| Operator | Example | Meaning |\n|---|---|---|\n| `field` | `?status=active` | Equal (default) |\n| `field[ne]` | `?status[ne]=inactive` | Not equal |\n| `field[gt]` | `?price[gt]=100` | Greater than |\n| `field[gte]` | `?date[gte]=2024-05-01` | Greater than or equal |\n| `field[lt]` | `?score[lt]=500` | Less than |\n| `field[lte]` | `?score[lte]=800` | Less than or equal |\n| `field[in]` | `?type[in]=a,b,c` | In list (comma-separated) |\n| `field[like]` | `?name[like]=john` | Partial match |\n\n**Examples**\n- `?price[gte]=100&price[lte]=200`\n- `?name[like]=john`\n- `?status=active`\n\n**Additional helpers**\n- **Pagination**: `page`, `limit` (defaults 1, 10)\n- **Totals**: `includeTotal=true` adds `total` and `totalPages`\n- **Sorting**: `sort=colA,colB`, `order=asc,desc`\n- **Single record**: `only=latest` or `only=oldest` (optional `by=column`, defaults `id`)",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Instance"
                    }
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved records",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "household_id": {
                                                        "type": "integer"
                                                    },
                                                    "major_name": {
                                                        "type": "string"
                                                    },
                                                    "minor_name": {
                                                        "type": "string"
                                                    },
                                                    "cost_type": {
                                                        "type": "string",
                                                        "enum": [
                                                            "固定",
                                                            "変動",
                                                            "特別",
                                                            "立替",
                                                            "振替"
                                                        ],
                                                        "description": "dropdown: choose one of [固定, 変動, 特別, 立替, 振替]"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/read/categories/{id}?Instance=52811_kakeibo": {
            "get": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Retrieve a record by ID from categories",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Instance"
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The ID of the record to retrieve"
                    }
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the record",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "household_id": {
                                                    "type": "integer"
                                                },
                                                "major_name": {
                                                    "type": "string"
                                                },
                                                "minor_name": {
                                                    "type": "string"
                                                },
                                                "cost_type": {
                                                    "type": "string",
                                                    "enum": [
                                                        "固定",
                                                        "変動",
                                                        "特別",
                                                        "立替",
                                                        "振替"
                                                    ],
                                                    "description": "dropdown: choose one of [固定, 変動, 特別, 立替, 振替]"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "Record Not Found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/search/categories?Instance=52811_kakeibo": {
            "post": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Search for records in categories",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Instance"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "household_id": {
                                        "type": "integer"
                                    },
                                    "major_name": {
                                        "type": "string"
                                    },
                                    "minor_name": {
                                        "type": "string"
                                    },
                                    "cost_type": {
                                        "type": "string",
                                        "enum": [
                                            "固定",
                                            "変動",
                                            "特別",
                                            "立替",
                                            "振替"
                                        ],
                                        "description": "dropdown: choose one of [固定, 変動, 特別, 立替, 振替]"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved matching records",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "household_id": {
                                                        "type": "integer"
                                                    },
                                                    "major_name": {
                                                        "type": "string"
                                                    },
                                                    "minor_name": {
                                                        "type": "string"
                                                    },
                                                    "cost_type": {
                                                        "type": "string",
                                                        "enum": [
                                                            "固定",
                                                            "変動",
                                                            "特別",
                                                            "立替",
                                                            "振替"
                                                        ],
                                                        "description": "dropdown: choose one of [固定, 変動, 特別, 立替, 振替]"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/update/categories/{id}?Instance=52811_kakeibo": {
            "put": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Update a record in categories",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Instance"
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The ID of the record to update"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "household_id": {
                                        "type": "integer"
                                    },
                                    "major_name": {
                                        "type": "string"
                                    },
                                    "minor_name": {
                                        "type": "string"
                                    },
                                    "cost_type": {
                                        "type": "string",
                                        "enum": [
                                            "固定",
                                            "変動",
                                            "特別",
                                            "立替",
                                            "振替"
                                        ],
                                        "description": "dropdown: choose one of [固定, 変動, 特別, 立替, 振替]"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully updated the record"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/delete/categories/{id}?Instance=52811_kakeibo": {
            "delete": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Delete a record from categories",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Instance"
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The ID of the record to delete"
                    }
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully deleted the record"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "Record Not Found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/create/exclusion_rules?Instance=52811_kakeibo": {
            "post": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Create a new record in exclusion_rules",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Instance"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "household_id": {
                                        "type": "integer"
                                    },
                                    "category_id": {
                                        "type": "integer"
                                    },
                                    "reason": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Successfully created the record",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Record created successfully"
                                        },
                                        "id": {
                                            "type": "integer",
                                            "description": "ID of the newly created record"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/read/exclusion_rules?Instance=52811_kakeibo": {
            "get": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Retrieve all records from exclusion_rules",
                "description": "### Filtering and query options\n\nUse query parameters to filter results. Operators use bracket notation:\n\n| Operator | Example | Meaning |\n|---|---|---|\n| `field` | `?status=active` | Equal (default) |\n| `field[ne]` | `?status[ne]=inactive` | Not equal |\n| `field[gt]` | `?price[gt]=100` | Greater than |\n| `field[gte]` | `?date[gte]=2024-05-01` | Greater than or equal |\n| `field[lt]` | `?score[lt]=500` | Less than |\n| `field[lte]` | `?score[lte]=800` | Less than or equal |\n| `field[in]` | `?type[in]=a,b,c` | In list (comma-separated) |\n| `field[like]` | `?name[like]=john` | Partial match |\n\n**Examples**\n- `?price[gte]=100&price[lte]=200`\n- `?name[like]=john`\n- `?status=active`\n\n**Additional helpers**\n- **Pagination**: `page`, `limit` (defaults 1, 10)\n- **Totals**: `includeTotal=true` adds `total` and `totalPages`\n- **Sorting**: `sort=colA,colB`, `order=asc,desc`\n- **Single record**: `only=latest` or `only=oldest` (optional `by=column`, defaults `id`)",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Instance"
                    }
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved records",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "household_id": {
                                                        "type": "integer"
                                                    },
                                                    "category_id": {
                                                        "type": "integer"
                                                    },
                                                    "reason": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/read/exclusion_rules/{id}?Instance=52811_kakeibo": {
            "get": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Retrieve a record by ID from exclusion_rules",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Instance"
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The ID of the record to retrieve"
                    }
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the record",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "household_id": {
                                                    "type": "integer"
                                                },
                                                "category_id": {
                                                    "type": "integer"
                                                },
                                                "reason": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "Record Not Found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/search/exclusion_rules?Instance=52811_kakeibo": {
            "post": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Search for records in exclusion_rules",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Instance"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "household_id": {
                                        "type": "integer"
                                    },
                                    "category_id": {
                                        "type": "integer"
                                    },
                                    "reason": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved matching records",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "household_id": {
                                                        "type": "integer"
                                                    },
                                                    "category_id": {
                                                        "type": "integer"
                                                    },
                                                    "reason": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/update/exclusion_rules/{id}?Instance=52811_kakeibo": {
            "put": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Update a record in exclusion_rules",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Instance"
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The ID of the record to update"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "household_id": {
                                        "type": "integer"
                                    },
                                    "category_id": {
                                        "type": "integer"
                                    },
                                    "reason": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully updated the record"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/delete/exclusion_rules/{id}?Instance=52811_kakeibo": {
            "delete": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Delete a record from exclusion_rules",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Instance"
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The ID of the record to delete"
                    }
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully deleted the record"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "Record Not Found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/create/households?Instance=52811_kakeibo": {
            "post": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Create a new record in households",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Instance"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Successfully created the record",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Record created successfully"
                                        },
                                        "id": {
                                            "type": "integer",
                                            "description": "ID of the newly created record"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/read/households?Instance=52811_kakeibo": {
            "get": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Retrieve all records from households",
                "description": "### Filtering and query options\n\nUse query parameters to filter results. Operators use bracket notation:\n\n| Operator | Example | Meaning |\n|---|---|---|\n| `field` | `?status=active` | Equal (default) |\n| `field[ne]` | `?status[ne]=inactive` | Not equal |\n| `field[gt]` | `?price[gt]=100` | Greater than |\n| `field[gte]` | `?date[gte]=2024-05-01` | Greater than or equal |\n| `field[lt]` | `?score[lt]=500` | Less than |\n| `field[lte]` | `?score[lte]=800` | Less than or equal |\n| `field[in]` | `?type[in]=a,b,c` | In list (comma-separated) |\n| `field[like]` | `?name[like]=john` | Partial match |\n\n**Examples**\n- `?price[gte]=100&price[lte]=200`\n- `?name[like]=john`\n- `?status=active`\n\n**Additional helpers**\n- **Pagination**: `page`, `limit` (defaults 1, 10)\n- **Totals**: `includeTotal=true` adds `total` and `totalPages`\n- **Sorting**: `sort=colA,colB`, `order=asc,desc`\n- **Single record**: `only=latest` or `only=oldest` (optional `by=column`, defaults `id`)",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Instance"
                    }
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved records",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "name": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/read/households/{id}?Instance=52811_kakeibo": {
            "get": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Retrieve a record by ID from households",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Instance"
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The ID of the record to retrieve"
                    }
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the record",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "name": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "Record Not Found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/search/households?Instance=52811_kakeibo": {
            "post": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Search for records in households",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Instance"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved matching records",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "name": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/update/households/{id}?Instance=52811_kakeibo": {
            "put": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Update a record in households",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Instance"
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The ID of the record to update"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully updated the record"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/delete/households/{id}?Instance=52811_kakeibo": {
            "delete": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Delete a record from households",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Instance"
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The ID of the record to delete"
                    }
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully deleted the record"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "Record Not Found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/create/monthly_memos?Instance=52811_kakeibo": {
            "post": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Create a new record in monthly_memos",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Instance"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "household_id": {
                                        "type": "integer"
                                    },
                                    "target_month": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "memo_content": {
                                        "type": "string"
                                    },
                                    "created_at": {
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "updated_at": {
                                        "type": "string",
                                        "format": "date-time"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Successfully created the record",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Record created successfully"
                                        },
                                        "id": {
                                            "type": "integer",
                                            "description": "ID of the newly created record"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/read/monthly_memos?Instance=52811_kakeibo": {
            "get": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Retrieve all records from monthly_memos",
                "description": "### Filtering and query options\n\nUse query parameters to filter results. Operators use bracket notation:\n\n| Operator | Example | Meaning |\n|---|---|---|\n| `field` | `?status=active` | Equal (default) |\n| `field[ne]` | `?status[ne]=inactive` | Not equal |\n| `field[gt]` | `?price[gt]=100` | Greater than |\n| `field[gte]` | `?date[gte]=2024-05-01` | Greater than or equal |\n| `field[lt]` | `?score[lt]=500` | Less than |\n| `field[lte]` | `?score[lte]=800` | Less than or equal |\n| `field[in]` | `?type[in]=a,b,c` | In list (comma-separated) |\n| `field[like]` | `?name[like]=john` | Partial match |\n\n**Examples**\n- `?price[gte]=100&price[lte]=200`\n- `?name[like]=john`\n- `?status=active`\n\n**Additional helpers**\n- **Pagination**: `page`, `limit` (defaults 1, 10)\n- **Totals**: `includeTotal=true` adds `total` and `totalPages`\n- **Sorting**: `sort=colA,colB`, `order=asc,desc`\n- **Single record**: `only=latest` or `only=oldest` (optional `by=column`, defaults `id`)",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Instance"
                    }
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved records",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "household_id": {
                                                        "type": "integer"
                                                    },
                                                    "target_month": {
                                                        "type": "string",
                                                        "format": "date"
                                                    },
                                                    "memo_content": {
                                                        "type": "string"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/read/monthly_memos/{id}?Instance=52811_kakeibo": {
            "get": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Retrieve a record by ID from monthly_memos",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Instance"
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The ID of the record to retrieve"
                    }
                ],
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the record",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "household_id": {
                                                    "type": "integer"
                                                },
                                                "target_month": {
                                                    "type": "string",
                                                    "format": "date"
                                                },
                                                "memo_content": {
                                                    "type": "string"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "Record Not Found"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/search/monthly_memos?Instance=52811_kakeibo": {
            "post": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Search for records in monthly_memos",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Instance"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "household_id": {
                                        "type": "integer"
                                    },
                                    "target_month": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "memo_content": {
                                        "type": "string"
                                    },
                                    "created_at": {
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "updated_at": {
                                        "type": "string",
                                        "format": "date-time"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved matching records",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "household_id": {
                                                        "type": "integer"
                                                    },
                                                    "target_month": {
                                                        "type": "string",
                                                        "format": "date"
                                                    },
                                                    "memo_content": {
                                                        "type": "string"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/update/monthly_memos/{id}?Instance=52811_kakeibo": {
            "put": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Update a record in monthly_memos",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Instance"
                    },
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "description": "The ID of the record to update"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "household_id": {
                                        "type": "integer"
                                    },
                                    "target_month": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "memo_content": {
                                        "type": "string"
                                    },
                                    "created_at": {
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "updated_at": {
                                        "type": "string",
                                        "format": "date-time"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully updated the record"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
[...]
